body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  /* padding: 50px; */
  top: 0;
  margin: 0;
  padding-top: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::selection {
  color: #fff;
  background: rgb(100, 100, 100, 0.5);
}


h2 {
  font-weight: 600;
  font-size: 28px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
}

p {
  color: rgb(61, 61, 61);
  font-weight: 100;
  font-size: 18px;
}

ol ::marker {
  font-size: 24px;
}

.main {
  /* margin-top: 50px; */
  overflow: hidden;
  background-image: url(./assets/view-panda-bear-with-robotic-tech-parts.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .container {
  display: flex;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.219);
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 50px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.container2 {
  display: flex;
  background-color: rgba(255, 255, 255, 0.178);
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 50px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  box-shadow: 0px 1px 2px rgba(0, 255, 255, 0.5),
      0px 2px 4px rgba(0, 255, 255, 0.5),
      0px 4px 8px rgba(0, 255, 255, 0.5),
      0px 8px 16px rgba(0, 255, 255, 0.5);
}


.tracking-in-contract-bck {
  -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
      transform: translateZ(400px);
      opacity: 0;
  }

  40% {
      opacity: 0.6;
  }

  100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
  }
}

.focus-in-contract-bck {
  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
      transform: translateZ(300px);
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
  }

  100% {
      -webkit-transform: translateZ(12px);
      transform: translateZ(12px);
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
  }
}

.slide-in-elliptic-bottom-fwd {
  -webkit-animation: slide-in-elliptic-bottom-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-elliptic-bottom-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-elliptic-bottom-fwd {
  0% {
      -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
      transform: translateY(600px) rotateX(30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      opacity: 0;
  }

  100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
      transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -1400px;
      transform-origin: 50% -1400px;
      opacity: 1;
  }
}

.slide-in-bck-left {
-webkit-animation: slide-in-bck-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-bck-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bck-left {
  0% {
    -webkit-transform: translateZ(700px) translateX(-400px);
            transform: translateZ(700px) translateX(-400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

.slide-in-blurred-tl {
-webkit-animation: slide-in-blurred-tl 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation: slide-in-blurred-tl 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-tl {
  0% {
    -webkit-transform: translate(-1000px, -1000px) skew(80deg, 10deg);
            transform: translate(-1000px, -1000px) skew(80deg, 10deg);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
            transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

/* Fade-out effect */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

/* Fade-in effect */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards cubic-bezier(0.66, 0.99, 0.66, 0.27);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  transition: fadeOut 1s forwards ease-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Hide element (sets display: none to fully hide) */
.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  .main .container {
    padding: 20px;
  }

  .container2 {
    padding: 20px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  ol ::marker {
    font-size: 20px;
  }
}